<div class="container">
    <p style="font-weight: bold;">Select:</p>
    <form>
        <label class="radio-inline">
            <input type="radio" name="optradio" value="All" [(ngModel)]="selectedRadioButton">All({{totalStudentsCount}})
        </label>
        <label class="radio-inline">
            <input type="radio" name="optradio" value="Male" [(ngModel)]="selectedRadioButton">Male({{maleStudentsCount}})
        </label>
        <label class="radio-inline">
            <input type="radio" name="optradio" value="Female" [(ngModel)]="selectedRadioButton">Female({{femaleStudentsCount}})
        </label>
    </form>
</div>